body {
  margin: 0;
}

@font-face {
  font-family: 'Pokemon';
  src: url(pokemon.ttf);
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

header {
  background-color: #EF5350;
  color: #FECA1B;
  padding: 20px;
  font-family: 'Pokemon';
  margin-bottom: 40px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

html {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 180px;
}

a {
  width: 150px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ffc107;
  color: #212529;
  font-weight: 700;
  border: 1px solid #ffc107;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-color: #E0A800;
}

table, td {
  border: 1px solid black;
}

td {
  padding: 5px
}

ul {
  padding: 0;
  margin: 0 0 0 15px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
}

#table {
  margin-left: 30px;
  display: none;
}

#initial {
  margin-left: 30px;
  display: block;
}